<app-nav-bar-admin></app-nav-bar-admin>

<!-- Titulo -->

<div class="container container-fluid mb-4">

  <div class="row">

    <div class="col-12">

      <h1 class="display-4 font-weight-bold text-center">
        <i class="fas fa-globe-asia text-primary"></i>
        Sala Exclusiva
      </h1>

    </div>

  </div>

</div>

<!-- Formulário -->

<dir class="container container-fluid fontBrand">

  <dir class="row justify-content-center mb-5">

    <dir class="col-12">
      <h1 class="display-5 font-weight-bold mb-0 text-center">Cadastrar</h1>
    </dir>

    <dir class="col-6">

      <form>

        <dir class="form-row mt-5">

          <div class="form-group col-12">
            <label for="inputNome">Nome</label>
            <input type="text" id="inputNome" class="form-control" placeholder="Nome do Item">
          </div>

        </dir>

        <dir class="form-row">

          <div class="form-group col-12">
            <label for="inputPreco">Preço</label>
            <input type="number" step="0.01" id="inputPreco" class="form-control" placeholder="Preço do Item (R$)" min="0">
          </div>

        </dir>

        <dir class="form-row">

          <div class="form-group col-12">
            <label for="inputSelect">Tempo</label>
            <select id="inputSelect" class="form-control">
              <option selected>Mensal</option>
              <option>Semestral</option>
              <option>Anual</option>
            </select>
          </div>

        </dir>

        <div class="form-row mt-5 ml-5">

          <div class="col-6">

            <button type="submit" class="btn btn-primary">
              <i class="fas fa-save"></i>
              Cadastrar
            </button>

          </div>

          <div class="col-6">

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#itensConsumoModal">
              <i class="fas fa-clipboard-list"></i>
              Listar Salas
            </button>

          </div>

        </div>

      </form>

    </dir>

    <dir class="col-6 mt-5">

      <form>

        <div class="form-row">

          <div class="form-group col-12">

            <label for="inputDesc">Descrição</label>
            <textarea class="form-control" id="inputDesc" rows="8"></textarea>

          </div>

        </div>

      </form>

    </dir>

  </dir>

</dir>

<!-- Modal -->

<div class="modal fade" id="itensConsumoModal" tabindex="-1">

  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          Salas Exclusivas
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="container">

          <div class="row">

            <div class="col-12">

              <table class="table text-center">

                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sala</th>
                    <th scope="col">Preço (R$)</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Tempo</th>
                    <th scope="col">Confirmação</th>
                  </tr>
                </thead>

                <tbody>

                  <tr>
                    <th scope="row">1</th>
                    <td>aaa</td>
                    <td>150.00</td>
                    <td>Descrição</td>
                    <td>Mensal</td>
                    <td>
                      <button class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">2</th>
                    <td>bbb</td>
                    <td>500.00</td>
                    <td>Descrição</td>
                    <td>Semestral</td>
                    <td>
                      <button class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">3</th>
                    <td>ccc</td>
                    <td>673.00</td>
                    <td>Descrição</td>
                    <td>Anual</td>
                    <td>
                      <button class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>

                </tbody>

              </table>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<div>
  <hr style="opacity: 0" class="mt-5">
</div>

<app-footer-admin></app-footer-admin>