<app-nav-bar-client></app-nav-bar-client>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" href="#Agendamentos" (click)="openAgendamentos()">Agendamentos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#Materiais-de-consumo" (click)="openMatConsumo()" routerLinkActive="active">Materiais de consumo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#Itens-de-servico" (click)="openItensServico()" routerLinkActive="active">Itens de serviço</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#Contato-via-chat" (click)="openChat()" routerLinkActive="active">Contato via chat</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="Agendamentos">
    <router-outlet name="A"></router-outlet>
  </div>
  <div class="tab-pane fade" id="Materiais-de-consumo">
    <router-outlet name="B"></router-outlet>
  </div>
  <div class="tab-pane fade" id="Itens-de-servico">
    <router-outlet name="C"></router-outlet>
  </div>
  <div class="tab-pane fade" id="Contato-via-chat">
    <router-outlet name="D"></router-outlet>
  </div>
</div>