
  <div class="row justify-content-center align-items-center">
    <div class="col align-self-center ml-auto">
      <div class="row align-items-center justify-content-center">
        <div class="card" style="width: 18rem;">
          <a
          [routerLink]="['/client/home', {outlets: { 'A': ['novo-agendamento']}}]" routerLinkActive="active"
          >
            <div class="card-body">
              <h5 class="card-title">Novo agendamento</h5>
              <p class="card-text">
                Realize a reserva de uma sala para seu uso ou para sua equipe
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <a 
        [routerLink]="['/client/home', {outlets: { 'A': ['historico-agendamento']}}]" routerLinkActive="active">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Histórico de agendamentos</h5>
              <p class="card-text">
                Visualize seus agendamentos passados
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col align-self-center ml-auto">
        <div class="card" style="width: 18rem; height: 25rem">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
    </div>
  </div>
