
  <div class="row justify-content-center align-items-center">
    <div class="col align-self-center ml-auto">
      <div class="row align-items-center justify-content-center">
        <div class="card" style="width: 18rem;">
          <a href="#">
            <div class="card-body">
              <h5 class="card-title">Novo agendamento</h5>
              <p class="card-text">
                Realize a reserva de uma sala para seu uso ou para sua equipe
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <a href="#">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Histórico de agendamentos</h5>
              <p class="card-text">
                Visualize seus agendamentos passados
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col align-self-center ml-auto">
        <div class="card" style="width: 18rem; height: 25rem">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
    </div>
  </div>



   <!-- <h6 class="text-center"><i class="fa fa-arrow-left"></i> Horizontal scrolling tab content <i class="fa fa-arrow-right"></i></h6>
    <div class="row flex-row flex-nowrap">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-block">
                    <h4>Card</h4>
                    <p>Meggings flannel Brooklyn literally
                     small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-outline-primary">
                <div class="card-block">
                    <h4 class="text-primary">Card</h4>
                    <p>Retro jean shorts chambray sustainable roof party. Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings flannel Brooklyn literally
                     small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-outline-success">
                <div class="card-block">
                    <h4 class="text-success">Card</h4>
                    <p>Next level irony ennui twee squid fap selvage. Meggings flannel Brooklyn literally
                     small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-outline-primary">
                <div class="card-block">
                    <h4>Card</h4>
                    <p>Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings flannel Brooklyn literally
                     small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl.</p>
                </div>
            </div>
        </div>
    </div>
  -->