<app-nav-bar-admin></app-nav-bar-admin>

<div class="mx-auto container py-4">
  <h1 class="display-4 text-center">Administração de salas</h1>
</div>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-10">
      <!--Coluna da esquerda-->
      <h2 class="text-left py-4">Salas de Reunião</h2>
      <table class="table">
        <thead>
          <!--Linha de Cabeçalhos-->
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Data</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Mark</th>
            <td>R$ 100,00</td>
            <td>22/02/2019</td>
            <td>
              <!--<button type="button" class="btn btn-primary btn-sm">
                <i class="fas fa-trash-alt"></i>
                Desmarcar
              </button>-->
              <i class="fas fa-trash-alt"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">Mark</th>
            <td>R$ 100,00</td>
            <td>22/02/2019</td>
            <td>
              <!--<button type="button" class="btn btn-primary btn-sm">
                  <i class="fas fa-trash-alt"></i>
                  Desmarcar
                </button>-->
              <i class="fas fa-trash-alt"></i>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-10">
        <!--Coluna da esquerda-->
        <h2 class="text-left py-4">Salas de Treinamento</h2>
        <table class="table">
          <thead>
            <!--Linha de Cabeçalhos-->
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Preço</th>
              <th scope="col">Data</th>
              <th scope="col">Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mark</th>
              <td>R$ 100,00</td>
              <td>22/02/2019</td>
              <td>
                <!--<button type="button" class="btn btn-primary btn-sm">
                  <i class="fas fa-trash-alt"></i>
                  Desmarcar
                </button>-->
                <i class="fas fa-trash-alt"></i>
              </td>
            </tr>
            <tr>
              <th scope="row">Mark</th>
              <td>R$ 100,00</td>
              <td>22/02/2019</td>
              <td>
                <!--<button type="button" class="btn btn-primary btn-sm">
                    <i class="fas fa-trash-alt"></i>
                    Desmarcar
                  </button>-->
                <i class="fas fa-trash-alt"></i>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>

  <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-10">
          <!--Coluna da esquerda-->
          <h2 class="text-left py-4">Salas Exclusivas</h2>
          <table class="table">
            <thead>
              <!--Linha de Cabeçalhos-->
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Data</th>
                <th scope="col">Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Mark</th>
                <td>R$ 100,00</td>
                <td>22/02/2019</td>
                <td>
                  <!--<button type="button" class="btn btn-primary btn-sm">
                    <i class="fas fa-trash-alt"></i>
                    Desmarcar
                  </button>-->
                  <i class="fas fa-trash-alt"></i>
                </td>
              </tr>
              <tr>
                <th scope="row">Mark</th>
                <td>R$ 100,00</td>
                <td>22/02/2019</td>
                <td>
                  <!--<button type="button" class="btn btn-primary btn-sm">
                      <i class="fas fa-trash-alt"></i>
                      Desmarcar
                    </button>-->
                  <i class="fas fa-trash-alt"></i>
              </tr>
            </tbody>
          </table>
        </div>
    
      </div>
    </div>



<div class="component">
  <div class=""></div>
</div>

<app-footer-admin></app-footer-admin>
