<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="display-5 font-weight-bold text-center mb-0  my-3">
        <i class="far fa-handshake text-primary"></i>
        Histórico de agendamentos
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="card" style="width: 100%">
      <div class="card-body">
        <h4 class="card-title">17 de Fevereiro de 2018</h4>
        <h6 class="card-subtitle mb-2 text-muted">10h - 11h</h6>
        <p class="card-text">Reunião</p>
        <h6 class="card-subtitle mb-2 text-muted">13h - 13h30m</h6>
        <p class="card-text">Entrevista</p>
      </div>
      <div class="card-body">
        <h4 class="card-title">20 de Fevereiro de 2018</h4>
        <h6 class="card-subtitle mb-2 text-muted">10h - 11h</h6>
        <p class="card-text">Treinamento de UX</p>
      </div>
    </div>
  </div>
</div>