<div class="container container-fluid mt-5"><hr></div>

		<div class="container container-fluid my-2">

			<div class="row justify-content-center">

				<div class="col-6">
					
					<dir class="row">

						<dir class="col-2 sizeImFooter">
							<i class="fas fa-map-marked-alt"></i>
						</dir>

						<dir class="col-10 my-auto">
							<h5>
							Avenida Silas Munguba, 123
							</h5>
							<h4>
								Brasil, Ceará
							</h4>
						</dir>

					</dir>

					<dir class="row">

						<dir class="col-2 sizeImFooter">
							<i class="fas fa-phone-volume"></i>
						</dir>

						<dir class="col-10 my-auto">
							<h5>
								xx+ (xx) xxxxx-xxxx
							</h5>
						</dir>

					</dir>

					<dir class="row">

						<dir class="col-2 sizeImFooter">
							<i class="fas fa-at"></i>
						</dir>

						<dir class="col-10 my-auto">
							<h5 class="text-primary">
								contato@coworking.com
							</h5>
						</dir>

					</dir>

				</div>

				<dir class="col-6">

					<dir class="row">
						<h4>
							Sobre a Companhia
						</h4>
						<h5>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium accumsan sagittis. Morbi cursus felis sed enim venenatis ullamcorper. Quisque eu mattis nibh. Etiam sodales, risus in suscipit ullamcorper, eros arcu consectetur leo, ultricies consequat lacus ante iaculis purus.
						</h5>
					</dir>

					<div class="row mt-3 ml-4">

						<div class="btn-group" role="group">
							
							<a href="#" class="btn btn-outline-primary">
								<i class="fab fa-facebook"></i>
								Facebook
							</a>
							<a href="#" class="btn btn-outline-info">
								<i class="fab fa-twitter"></i>
								Twitter
							</a>
							<a href="#" class="btn btn-outline-warning">
								<i class="fab fa-instagram"></i>
								Instagram
							</a>

						</div>
					</div>
				</dir>
				
			</div>

			<div class="row mt-5 justify-content-center">
				
				<blockquote class="blockquote text-center">
					
					<p class="mb-0">
						 "É genial festejar o sucesso, mas é mais importante aprender com as lições do fracasso."
					</p>

					<footer class="blockquote-footer">
						Bill Gates
						<cite title="Titulo">
							Fundador da Microsoft
						</cite>
					</footer>

				</blockquote>

			</div>

		</div>