<div class="container container-fluid mb-4">

  <div class="row">
    <div class="col-12">
      <h2 class="display-5 font-weight-bold text-center mb-0  my-3">
        <i class="far fa-handshake text-primary"></i>
        Adquirir consumível
      </h2>
    </div>
  </div>

  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col-8">Item</th>
          <th scope="col-2">Quantidade</th>
          <th scope="col-2">Valor (R$)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="col-8">Água (500mL)</th>
          <td>
            <input type="number" class="form-control form-control-sm" placeholder="0" id="inputDefault">
          </td>
          <td>3,00</td>
        </tr>
        <tr>
          <th scope="row" class="col-8">Xícara de café (200mL)</th>
          <td>
            <input type="number" class="form-control form-control-sm" placeholder="0" id="inputDefault">
          </td>
          <td>2,00</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="form-group my-4">
      <label for="inputNome">Valor</label>
      <br>
      <label for="inputNome">R$ 0,00</label>
    </div>

  <div class="form-row text-center">
    <div class="col-12 m-3">
      <button type="button" routerLink="/client/home" class="btn btn-primary text-center">
        <i class="fas fa-plus"></i>
        Confirmar
      </button>
    </div>
  </div>
</div>