<div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="display-5 font-weight-bold text-center mb-0  my-3">
          <i class="far fa-handshake text-primary"></i>
          Histórico de Consumíveis
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h4 class="card-title">22 de Março de 2018</h4>
          <p class="card-text">1x Água (500mL)</p>
        </div>
        <div class="card-body">
          <h4 class="card-title">20 de Fevereiro de 2018</h4>
          <p class="card-text">3x Xícaras de café (200mL)</p>
        </div>
      </div>
    </div>
  </div>